.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* body,
html {
    width: 100%;
    height: 100%;
} */

.wrapper {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


}




.wrapper__form {
  /* height: 200px; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper__welcome--black {
  font-size: 30px;
  font-weight: 700;
  color: black;
}


.form__item {
  /* display: grid;
    gap: 25px; */
  flex: 8;
}


.form__item--input {
  height: 40px;
  width: 100%;

  position: relative;
}



.form__item .form__item--input input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 10px;
  padding: 0 20px;
  border: 2px solid silver;
  box-sizing: border-box;
}

.form__item--input input:focus~label,
.form__item--input input:valid~label {
  transform: translate(-10px, -20px);
  font-size: 15px;
  background-color: white;
  padding: 0 10px;
}

.form__item--input input:focus,
.form__item--input input:valid {
  border: 2px solid #E8638E;
}

.form__item .form__item--input label {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}



.form__button--gradients {
  /* margin-top: 30px; */
  flex: 2;
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #E8638E 0%, #EF9A92 40%);
}

.form__button--gradients:hover {
  opacity: 0.8;
}


.wrapper__text {
  /* flex: 1; */
  margin-top: 50px;
  align-content: center;
  text-align: center;

}

.wrapper__text span {
  margin-left: 5px;
  cursor: pointer;
  color: #E8638E;
}

.wrapper__table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 50px;
}

.wrapper__table tr {
  border-bottom: 1px solid;

}

.wrapper__table td,
.wrapper__table th {
  border-right: 1px solid black;
  text-align: center;
}

.wrapper__table td {
  padding: 20px 0;
}

.wrapper__table th {
  padding: 10px 0;
}